<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.josesanjuanelo.proyectomovil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Principal" />
        <activity android:name=".ListviewDepartamentos" />
        <activity android:name=".PantallaInicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mapa_Aracataca"/>
        <activity android:name=".Mapa_Tayrona"/>
        <activity android:name=".Mapa_Valledupar"/>
        <activity android:name=".RegistroCiudades" />
        <activity android:name=".ListarCiudad" />
        <activity android:name=".Guatape" />
        <activity android:name=".RegistrarPuntuacion" />
        <activity android:name=".ListarPuntos" />
        <activity android:name=".registrarAyuda" />
        <activity android:name=".ListarAyuda" />
        <activity android:name=".Mapa_Guatape" />
        <activity android:name=".Login" />
        <activity android:name=".Admin" />
        <activity android:name=".RegistroPersona" />
        <activity android:name=".ListarUsuarios" />
        <activity android:name=".Aracataca" />
        <activity android:name=".Popayan" />
        <activity android:name=".Tayrona"/>
        <activity android:name=".Valledupar"/>
        <activity android:name=".Mapa_Popayan"></activity>
    </application>

</manifest>